body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}

.container {
    max-width: 800px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.paso {
    display: none;
}

.paso.activo {
    display: block;
}

#mensajeExito {
    text-align: center;
    margin-top: 20px;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #343434;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}
